<launch>
  <arg name="use_config" default="false"/>   <!-- true면 rviz 설정 파일 로드 -->

  <!-- 글로벌/로컬 플랜 릴레이 -->
  <node pkg="topic_tools" type="relay" name="relay_global_plan"
        args="/move_base/NavfnROS/plan /global_plan"/>
  <node pkg="topic_tools" type="relay" name="relay_local_plan"
        args="/move_base/DWAPlannerROS/local_plan /local_plan"/>

  <!-- RViz -->
  <node if="$(arg use_config)" pkg="rviz" type="rviz" name="rviz"
        args="-d $(find autorace_planning)/config/planning.rviz"/>
  <node unless="$(arg use_config)" pkg="rviz" type="rviz" name="rviz"/>
</launch>
